{% load static %}
<nav >
    <ul>
      <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
      {% if user.is_authenticated %}
        <div class="dropdown">
          <button class="dropbtn">Historia</button>
          <div class="dropdown-content">
            <li><a href="{% url 'verhecho' %}" class="nav-link">Hechos Historicos</a></li>
            <li><a href="{% url 'figuras' %}" class="nav-link">Figuras</a></li>
          </div>
        </div>
      {% endif %}
      
      <div class="dropdown">
        <button class="dropbtn">Cuenta</button>
        <div class="dropdown-content">
          <a href="{% url 'createuser' %}">Crear</a>
          {% if user.is_authenticated %}
            <a href="">Ver</a>
            <a href="">Editar</a>
            <a href="">Borrar</a>
            <a href="">Salir</a>
          {% else %}  
            <a href="">Ingresar</a>
          {% endif %}
          
        </div>
        
      </div>
      {% if user.is_authenticated %}
          <h3>Hola, {{user.username|capfirst}}</h3>
      {% endif %}
      {% if user.is_authenticated %}
            <form method='GET' action='{% url "buscar" %}'>
              <div class="buscar">
                <div class="buscar-interno">
                  <input type="text" name="buscar" placeholder="Buscar..." class="buscar-bar">
                  <button type="submit" value="buscar">Buscar</button>
                </div>
              </div>
            </form>
            
      {% else %}
            <h3>Ingrese su cuenta para acceder a las funciones</h3>
      {% endif %}
          
      
      
      
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li class="message-item {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
          {% endfor %}
        </ul>
        <script>
          
          document.addEventListener("DOMContentLoaded", function () {
            const messageItems = document.querySelectorAll('.message-item');
            messageItems.forEach(item => {
              item.style.display = 'block';
            });
          });
        </script>
      {% endif %}
      
      </form>
      <li><a class="nav-link active about-link" href="{% url 'about' %}">Sobre nosotros</a></li>
    </ul>
</nav>
  